# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

#other
.settings/
.project

#jcarbonate-logic
jcarbonate-logic/.settings/
jcarbonate-logic/target/
jcarbonate-logic/.project
jcarbonate-logic/.classpath

#jcarbonate-plot
jcarbonate-plot/.settings/
jcarbonate-plot/target/
jcarbonate-plot/.project
jcarbonate-plot/.classpath
